.fork-me {
    position:absolute;
    top:0;
    right:0;
    border:0;
}
body.with-toolbar .fork-me {
    top:30px;
}
.avatar {
    position:absolute;
    top:60px;
    left:10px;
    border:0;
}
body.with-toolbar .avatar {
    top:100px;
}
.languages {
    position:absolute;
    top:10px;
    left:10px;
}
.languages a {
    float:left;
    margin-left:10px;
    cursor:pointer;
}
body.with-toolbar .languages {
    top:50px;
}
.toolbar {
    display:none;
    z-index: 999;
}
body.with-toolbar .toolbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:20px;
    padding: 10px 10px 11px;
    background-image:-moz-linear-gradient(center top , #444444 0%, #333333 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#444),color-stop(100%,#333));
    display:block;
}
.project {
    color:white;
    font-size:1.2em;
    text-decoration:none;
}
.toolbar span {
    color: #999999;
    float: none;
    line-height: 19px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor:pointer;
    margin-left:30px;
}
.toolbar span:after {
    content:"↓";
}
.dropdown .dropdown-menu LI > A:hover,
.dropdown .dropdown-menu LABEL:hover {
    background-image:-moz-linear-gradient(center top , #444444 0%, #333333 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#444),color-stop(100%,#333));
}
body.with-toolbar .resume {
    margin-top:45px;
}


